@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Public+Sans&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;


}

body {
    line-height: 1.5;
    font-family: 'Public Sans', sans-serif;
    margin: auto;
    height: 100vh;
    width: 100vw;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: white;
    padding: 15px 0px;
}

.nav-items a {
    text-decoration: none;
    color: hsl(233, 8%, 62%);
    margin: 5px;
    font-size: 18px;
}

.nav-items li {
    list-style: none;
    float: right;
    margin: 0px 5px;
}

.nav-items a:hover {
    border-bottom: 3px solid green;
    padding-bottom: 8px;
    border-radius: 2px;
}

#invite-button {
    padding: 15px;
    width: 150px;
    border-radius: 30px;
    border: none;
    color: white;
    font-weight: 700;
    background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
}

#invite-button:hover {
    opacity: 0.5;
    cursor: pointer;
}


.check-box {
    display: none;
}

/* show case */

.showcase {
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 80%;
    width: 100%;
    padding: 6%;

    float: left;

    /* background-position: to right; */
   
}

.showcase-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    /* border: 1px solid red; */
    padding: 6%;
}

.showcase-text-container h1 {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 10px;
    color: rgb(8, 8, 43);

}

.showcase-text-container p {
    color: hsl(233, 8%, 62%);
    font-weight: 300;
    margin: 10px 0px;

}

.showcase-text-container button {
    margin: 10px 0px;
}

.showcase-image-container {
    background-image: url("./images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 60%;
    transform: translateX(200px);
}

.showcase-image-container img {
    width: 80%;
    height: 50%;
    transform: translate(70px, -80px);
}

/* why choose */

#why-choose-section {
    background-color: rgb(243, 237, 237);
    padding: 6%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.why-choose-heading h1 {
    padding-bottom: 15px;
}

.options-cotainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

.opion {
    margin: 5px;
    padding: 15px;
    padding-left: 0px;
    flex-basis: 23%;

}

.opion h2 {
    font-weight: 300;
    color: rgb(17, 16, 16);
    margin: 5px 0;
}

.opion p {
    font-size: 15px;
    font-weight: 300;
}

article {
    width: 100%;
    padding: 6%;
    background: #f7f7f7;
}

article h4 {
    padding-left: 15px;
}

article h4:hover {
    color: rgb(41, 158, 167);
    cursor: pointer;
}

article .articles-container {
    /* padding: 25px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 25px;

}

.article {

    flex-basis: 23%;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    padding-bottom: 10px;
    background: #ffffff;
}

.article img {
    max-height: 50%;
    max-width: 100%;
    border-radius: 5px;
    /* border: solid green; */
}

.article p {
    color: hsl(233, 8%, 62%);
    font-weight: 100;
    font-size: 14px;
    padding-left: 15px;

}

footer {
    background-color: rgb(48, 48, 68);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 25px;
}

footer .logo {
    margin: 10px 0px;
    filter: brightness(5);
    color: white;
    padding: 10px;
}

footer img {
    margin: 10px 5px;
}

.contact-us {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.contact-us p:hover {
    color: rgb(41, 158, 167);
    cursor: pointer;

}

footer .social-media-container img:hover {
    /* color: rgb(41, 158, 167); */
    cursor: pointer;

}

.copy-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    color: hsl(233, 8%, 62%);
}

#s:hover {
    fill: (red);
    color: green;
}


@media screen and (min-width:767px) {

    .showcase-mobile {
        display: none;
    }

    .footer-mobie {
        display: none;
    }

    .mobile-header {
        display: none;
    }

    .hbutton {
        display: none;
    }

}


@media screen and (max-width:766px) {

    body {
        width: 100vw;
    }

    header #invite-button {
        display: none;
    }

    .desktop-header {
        display: none;

    }

    .hbutton {
        display: inline-block;
        align-self: flex-end;
    }

    #toggle {
        display: none;
    }

    .nav-items-mobile {
        display: flex;
        flex-direction: column;
        background-color: white;
        text-align: center;
        padding: 15px;
        width: 80%;
        margin-bottom: 40px;
    }

    #navList .li {
        display: inline-block;
        margin: 5px;

    }

    .mobile-header {
        display: block;
        margin: 5px 15px;
        display: flex;
        justify-content: space-between;

    }

    header {
        display: block;
    }

    .showcase {
        display: none;
    }

    .showcase-mobile {
        display: flex;
        width: 100vw;
        flex-direction: column;
        align-items: center;
        overflow-y: hidden;
        padding-bottom: 20px;
    }

    .showcase-mobile-container img {
        height: 30%;
        width: 100%;
        transform: translateY(-120px);

    }

    .showcase-mobile-container {
        background: url("./images/bg-intro-desktop.svg");
        background-position: top left;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .showcase-text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .why-choose-heading {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .why-choose-heading p {
        text-align: center;
    }

    .options-cotainer {
        display: flex;
        flex-direction: column;
        align-items: center;


    }

    .opion {

        text-align: center;
    }

    article h1 {
        text-align: center;

    }

    article .articles-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .article {
        margin-bottom: 15px;
    }

    footer {
        display: none;

    }

    .logo-social {
        display: flex;
        flex-direction: column;
    }

    .footer-mobie {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;

    }

    .footer-mobie p {
        margin: 10px 0px;
    }

    .footer-mobie button {
        margin: 10px 0px;
    }

    .nav-items-mobile {
        transform: translate(-0px, 50px);
        transition: 0.6s;
    }

}